body {
  background-color: #edf7fc;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 300;
}
.header {
  background-color: #14152d;
  height: 300px;
  width: 100%;
  float: left;
  text-align: center;
}
.header .logo {

}
.header .logo img {
  height: 80px;
}
.header .about {}

.header .links,
.footer .links {
  /* Common attributes */
}

.header .links {
  /* Header specifics */
}
.footer .links {
  /* Footer specifics */
}

.main-content {}
.footer {}
