body {
  background-color: #edf7fc;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 300;
}
.header {
  padding: 30px 0;
  color: #fff;
  background-color: #14152d;
  width: 100%;
  text-align: center;
}
.header .logo img {
  height: 45px;
  padding: 5px;
}
.header .about {
  font-size: 14px;
  color: #f2f3fc;
  opacity: 0.4;
}
.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.links ul li {
  margin: 0 30px 0 0;
  padding: 0;
  display: inline;
}
.links ul li:last-child {
  margin: 0;
}
.links ul li img {
  width: 18px;
  vertical-align: middle;
}
.footer .links ul li {
  margin: 0 20px 0 0;
}
.footer .links ul li:last-child {
  margin: 0;
}
.footer .links ul li img {
  width: 15px;
  vertical-align: middle;
  margin-top: 20px;
}
.main-content {
  display: block;
  width: 960px;
  clear: both;
  margin: 30px auto 0;
  min-height: 400px;
  /*background-color: #C0FFEE;*/
}
.footer {
  display: block;
  clear: both;
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid rgba(71, 70, 98, 0.25);
  margin-top: 30px;
  text-align: center;
}
.text-footer {
  font-size: 12px;
  color: #A3A3B0;
}
.main-content .cards {
  width: 990px;
}
.main-content div.card {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}
.main-content .card {
  display: block;
  float: left;
  width: 280px;
  margin: 0 30px 30px 0;
  height: 400px;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 0 40px 0 rgba(64, 47, 103, 0.10);
}
.main-content .card:active,
.main-content .card:visited,
.main-content .card:hover,
.main-content .card:focus {
  text-decoration: none;
}
.main-content .card img {
  width: 100%;
}
.main-content .card h2 {
  text-decoration: none;
}
.main-content .card p {

}
