body {
  background-color: #edf7fc;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 300;
}
.header {
  padding: 30px 0;
  color: #fff;
  background-color: #14152d;
  width: 100%;
  float: left;
  text-align: center;
}
.header .logo {

}
.header .logo img {
  height: 60px;
}
.header .about {}

.links {
  /* Common attributes */
}
.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.links ul li {
  margin: 0 4px 0 0;
  padding: 0;
  display: inline;
}
.links ul li:last-child {
  /*margin: 0;*/
}
.links ul li img {
  width: 20px;
  vertical-align: middle;
}

.header .links {
  /* Header specifics */
}
.footer .links {
  /* Footer specifics */
}

.main-content {
  display: block;
  width: 960px;
  margin: 0 auto;
  min-height: 400px;
  background-color: #C0FFEE;
}
.footer {
  display: block;
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid #444;
  margin-top: 20px;
}
