body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #727272;
  font-weight: 300;
}
.container {
  position: absolute;
  display: block;
  width: 370px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -185px;
  text-align: center;
}
.container p {
  text-align: center;
}
.container span {
  font-weight: 700;
}
.container img {
  width: 80px;
}
