body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #727272;
  font-weight: 300;
}
.logo {
  position: absolute;
  display: block;
  width: 200px;
  height: 180px;
  top: 50%;
  left: 50%;
  margin: -90px 0 0 -100px;
  text-align: center;
}
.logo img {
  background-color: #37c1d2;
}
